<div class="BrandListFilter_MainContainer">
    <div class="BrandListFilter_FilterContainer" [@collapse]="collapsed">
        <mat-form-field class="example-form-field">
            <mat-label>BrandId</mat-label>
            <input matInput type="number" [(ngModel)]="filterBrandId">
            <button *ngIf="(useBrands.brands$ | async)?.searchCriteria" 
            matSuffix 
            mat-icon-button 
            aria-label="Clear" 
            name="ClearButton"
            (click)="useBrands.getNextBrandsPage(false)">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <button 
          [disabled]="filterBrandId === null" 
          matSuffix 
          mat-icon-button 
          aria-label="SearchById" 
          name="SearchByIdButton" 

          (click)="search()">
            <mat-icon>search</mat-icon>
          </button>
    </div>
    <div class="BrandListFilter_ActionsContainer">
        <button 
        (click)="collapsed=!collapsed"
        mat-mini-fab 
        color="primary" 
        aria-label="Open brand list filter">
            <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
    </div>

</div>