<div class="BrandList_MainContainer">
    <div class="BrandList_Container">
        <div class="BrandList_Header">
        </div>
        <div class="BrandList_Filter">
            <app-brand-list-filter [filter]="(useBrands.brands$ | async)?.searchCriteria"></app-brand-list-filter>
        </div>
        <div class="BrandList_ContentContainer"
            appIntersectionObserver 
            (isIntersecting)="isIntersecting($event)"
            [offset]="50"
            [active]="(!(useBrands.loading$ | async) && !!!(useBrands.searchCriteria$ | async))">
            <!-- [active]="!!(useBrands.searchCriteria$ | async)"> -->
            <div  class="BrandList_List" 
                *ngFor="let brand of (useBrands.brands$ | async)?.results"
            >
                <app-brand-card [brand]="brand"></app-brand-card>
            </div>

        </div>
    </div>
</div>
